@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
//color
$color-red: hsl(0,
100%,
74%);
$color-green: hsl(154,
59%,
51%);
$color-darkBlue: hsl(249,
10%,
26%);
$color-blue: hsl(248,
32%,
49%);
$color-grayishBlue: hsl(246,
25%,
77%);
//font
$f-poppins: 'Poppins',
sans-serif;
//General
.flex {
    display: flex;
}

.flex-dr {
    flex-direction: column;
}

.mxw {
    max-width: 600px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    background-image: url(images/bg-intro-desktop.png);
    background-color: $color-red;
}

.main-container {
    display: flex;
    margin-top: 100px;
    .left-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        margin: auto auto auto 100px;
        // border: 2px solid black;
        padding: 20px;
        color: white;
        h2 {
            font-family: $f-poppins;
            font-weight: 700;
            font-size: 3rem;
            margin-left: 100px;
        }
        p {
            font-family: $f-poppins;
            font-weight: 500;
            margin-left: 100px;
        }
    }
    .form-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: auto 250px auto 20px;
        padding: 20px 50px;
        // border: 2px solid black;
        p {
            margin-bottom: 20px;
            // border: 2px solid black;
            display: flex;
            justify-content: center;
            background-color: $color-blue;
            border-radius: 15px;
            box-shadow: 0 6px hsla(249, 10%, 26%, 0.4);
            padding: 20px;
            width: 440px;
            color: white;
            font-family: $f-poppins;
            strong {
                font-weight: 700;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            padding: 40px;
            height: 350px;
            width: 400px;
            background-color: white;
            input {
                padding: 15px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            input[type=button] {
                cursor: pointer;
                color: white;
                background-color: $color-green;
                font-weight: 600;
                font-family: $f-poppins;
            }
            span {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                color: $color-grayishBlue;
                font-size: 12px;
                strong {
                    color: $color-red;
                }
            }
        }
    }
}