@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
//color
$color-red: hsl(0,
100%,
74%);
$color-green: hsl(154,
59%,
51%);
$color-darkBlue: hsl(249,
10%,
26%);
$color-blue: hsl(248,
32%,
49%);
$color-grayishBlue: hsl(246,
25%,
77%);
//font
$f-poppins: 'Poppins',
sans-serif;
//General
.flex {
    display: flex;
}

.flex-dr {
    flex-direction: column;
}

.mxw {
    max-width: 600px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    background-image: url(images/bg-intro-desktop.png);
    background-color: $color-red;
}

.main-container {
    display: flex;
    margin-top: 100px;
    .left-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        margin: auto auto auto 200px;
        padding: 20px;
        color: white;
        h2 {
            font-family: $f-poppins;
            font-weight: 700;
            font-size: 3rem;
        }
        p {
            font-family: $f-poppins;
            font-weight: 500;
            line-height: 1.5;
        }
    }
    .form-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: auto 250px auto 20px;
        padding: 20px 50px;
        p {
            margin-bottom: 20px;
            background-color: $color-blue;
            text-align: center;
            border-radius: 15px;
            box-shadow: 0 6px hsla(249, 10%, 26%, 0.4);
            padding: 20px;
            width: 440px;
            color: white;
            font-family: $f-poppins;
            span {
                font-weight: 700;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            padding: 40px;
            height: 350px;
            width: 400px;
            background-color: white;
            input {
                padding: 15px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            input[type=button] {
                cursor: pointer;
                color: white;
                background-color: $color-green;
                font-weight: 600;
                font-family: $f-poppins;
            }
            span {
                margin-top: 20px;
                color: $color-grayishBlue;
                font-size: 12px;
                text-align: center;
                strong {
                    color: $color-red;
                }
            }
        }
    }
}

//media Query
@media screen and (max-width: 480px) {
    .main-container {
        display: flex;
        flex-direction: column;
        margin: 50px auto auto auto;
        width: 100vw;
        .left-container {
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 10px;
            text-align: center;
            margin-bottom: 30px;
            h2 {
                font-size: 2.3rem;
                margin-bottom: 20px;
            }
            p {
                padding: 20px;
            }
        }
        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            padding: 0;
            p {
                width: 300px;
                align-self: center;
                text-align: center;
                margin-bottom: 25px;
                span {
                    white-space: nowrap;
                }
            }
            form {
                width: 90vw;
                align-self: center;
                padding: 0;
                height: 380px;
                padding: 20px 5px;
                margin-bottom: 50px;
                input {
                    align-self: center;
                    width: 70vw;
                }
                input[type=button] {
                    width: 82vw;
                    align-self: center;
                }
                span {
                    align-self: center;
                    width: 59vw;
                }
            }
        }
    }
}